/* BOOSTRAP BREAKPOINTS
    =============
*/

@media screen
{
    body:before {
        position: fixed;
        z-index: 1002003004005;
        top: 0;
        right: 0;
        padding: 0.25rem 0.5rem;
        color: #fff;
        font-size: 12px;
        font-family: monospace;
        line-height: 1;
        font-weight: bold;
        text-transform: uppercase;
        background: rgba(255, 0, 255, 0.9);
        content: "xs 0";
        
        @media screen and (min-width: 576px) {
            content: "sm 576px";
        }
        @media screen and (min-width: 768px) {
            content: "md 768px";
        }
        @media screen and (min-width: 992px) {
            content: "lg 992px";
        }
        @media screen and (min-width: 1200px) {
            content: "xl 1200px";
        }
    }
}